/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {

}

h2 {
font-family: Arial;
}

/* Колонки */

.row {display: flex;
}

.col {flex: auto;
margin-right: 25px;
margin-bottom: 25px;
}


/* Потом селекторы по классам */

.text-input {

}

.button {width: 40%;
height: 40px;
color: white;
background-color: #5551ee;
border-radius: 5px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {border: solid 2px #d2d9d5;
border-radius: 5px;
margin: 10px 0px 20px 0px;
width: 100%;
height: 50px;




}


/* Страничка жанров и тегов */

.genre-first {

}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
